/* General Rules */
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #434455;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo{
    font-family: 'Railway', sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.003em;
    text-transform: uppercase;
    color: #4d5ae5;
}
/* navigation - hero section */
.nav-items a {
    color: #2E2F42;
}

header a {
    color: #434455;
    text-decoration: none;
}

header a:hover,
header a:focus {
    color: #404BBF;
}

.nav-items a:hover,
.nav-items a:focus {
    color: #404BBF;
}

.nav-items a:active {
    color: #404BBF;
    text-decoration: underline;
}

.hero {
    background-color: #2E2F42;
    color: white;
    height: 600px;
}

.hero .hero-text {
    font-size: 56px;
}

.hero .hero-button {
    color: white;
    background-color: #4D5AE5;
    border: none;
    font-size: 16px;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: #404BBF;
}

/* About us section */
.about-us ul li h3 {
    font-size: 24px;
    line-height: 24px;
}

.about-us ul li p {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

/* Our Team section */
.our-team {
    background-color: #F4F4FD;
}

.our-team-header {
    font-size: 36px;
    line-height: 40px;
}

.our-team ul li {
    text-align: center;
}

/* Our Portfolio section */
/* Footer section */
.portfolio-card-text {
    padding: 32px 16px;
}

.portfolio-header {
    font-size: 36px;
}

.footer {
    background-color: #2E2F42;
    color: white;
}

.footer p {
    font-size: 16px;
    line-height: 24px;
}